.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: space-between; */

}

.content{
  /* height: calc(100vh - 56px); */
  margin-top: 0px;

  /* margin: 2vh 0rem; */
}

.header{
  height: 56px;
}

.footer{
  height: 5vh;
}

.container{
  height:100%;
}